@import "tailwindcss";

/* ---------------Fonts------------------ */
@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
    url('/assets/fonts/Oswald/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Light.woff2') format('woff2'),
        url('/assets/fonts/Oswald/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/Oswald/Oswald-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Medium.woff2') format('woff2'),
        url('/assets/fonts/Oswald/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-Regular.woff2') format('woff2'),
        url('/assets/fonts/Oswald/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/fonts/Oswald/Oswald-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Oswald/Oswald-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@theme{
    --font-oswald: "Oswald";
    --color-primary:#FFA500;
    --color-02:#151515;
    --color-03:#4F4D4D;
    --color-04:#ECECEC;
    --text-72x:4.5rem;
    --text-40x:2.5rem;
    --text-56x:3.5rem;

}


/* ---------------Basic Set Up -----------------------*/
body{
    @apply font-oswald not-italic;
}
.container{
    @apply xl:max-w-300 mx-auto lg:max-w-230 lg:px-0 md:px-8 px-4; 
}

.btn{
    @apply py-3 px-8 inline-block bg-primary text-white rounded-[40px] border-r-3 border-b-3 border-black font-medium text-sm leading-4 tracking-[-0.28px];
}
.btn-w{
    @apply py-3 px-8 inline-block bg-primary text-white rounded-[40px] border-r-3 border-b-3 border-white font-medium text-sm leading-4 tracking-[-0.28px];
}
/* h1,h2,h3,h4,h5,h6{
    @apply text-02;
} */
/* p{
    @apply text-03;
} */

.s-p{
    @apply text-lg font-normal leading-7 tracking-[-0.36px];
}
.s-p-2{
    @apply text-lg font-normal leading-6.5 tracking-[-0.32px];
}
.s-h{
    @apply tracking-[-1.12px] text-56x leading-16 font-semibold;
}

/*============================= Header Area ============================ */
header{
    @apply py-6 bg-cover bg-center bg-no-repeat;
}
.site-logo{
    @apply size-8 overflow-hidden;
}
.site-logo img{
    @apply w-full h-full;
}
.mainmenu{
    @apply flex gap-12 items-center;
}
.mainmenu ul{
    @apply flex gap-8 items-center;
}
.mainmenu ul li a, .mainmenu-mobile ul li a{
    @apply text-03 capitalize font-normal leading-6.5 tracking-[0.32px] text-base;
}
.header-btn a{
    @apply py-3 px-5 inline-block bg-primary text-white rounded-[40px] border-r-3 border-b-3 border-black font-medium text-sm leading-4 tracking-[-0.28px];
}

/* ---------------Mobile Menu------------------------- */
.mobile-menu-icon{
    @apply flex flex-col gap-1 cursor-pointer;
}
.mainmenu-mobile ul{
    @apply flex flex-col text-center gap-3;
}

.mainmenu-mobile .header-btn{
    @apply text-center;
}

.mainmenu-mobile {
    @apply flex flex-col gap-4;
}

.mainmenu-mobile{
    @apply absolute top-full left-0 w-full bg-white p-5 opacity-0 transition-all duration-300 invisible;
}

.mainmenu-mobile.active{
    @apply flex opacity-100 visible;
}

.mainmenu ul li .active, .mainmenu-mobile ul li .active{
    @apply text-primary;
}

/*----------------------- Hero Area ------------------------*/
.hero-area{
    @apply pt-30 py-50;
}
.hero-intro p{
    @apply text-base tracking-[0.32px] font-normal leading-6 not-italic text-03;
}
.hero-intro p span{
    @apply text-primary;
}
.hero-content{
    @apply flex flex-col gap-8;
}
.hero-intro{
    @apply max-w-205 mx-auto flex flex-col justify-center gap-4;
}
.hero-content h1{
    @apply lg:text-72x md:text-56x text-40x leading-15 text-center font-semibold md:leading-20 tracking-[-1.44px] text-02;
}

/*------------------------ Social Proof Section---------------------------- */
.social-proof{
    @apply py-15 bg-white;
}
.social-proof-title{
    @apply text-2xl font-semibold leading-8 tracking-[-0.48px] text-center; 
}
.single-card-list{
    @apply flex flex-col gap-3 px-4 py-8 rounded-2xl border-1 border-04 text-center;
}
.single-card-list h4{
    @apply text-40x font-semibold tracking-[-0.8px] text-02;
}
.single-card-list p{
    @apply leading-7 tracking-[-0.36px] text-lg text-03;
}
/*------------------------ Our Story Section---------------------------- */
.our-story{
    @apply pt-10 pb-25 bg-white;
}
.our-story-content{
    @apply flex flex-col gap-4;
}

/*------------------------ Why choose us ---------------------------- */
.wcu-area{
    @apply bg-02 py-25;
}
.wcu-title{
    @apply flex flex-col gap-4;
}
.wcu-title h3{
    @apply text-white tracking-[-1.12px] text-56x leading-16 font-semibold;
}
.wcu-left-content{
    @apply flex flex-col gap-3;
}
.wcu-right-image {
    @apply max-w-140 max-h-117.5 overflow-hidden;
}
.wcu-right-image img{
    @apply size-full;
}

/*------------------------ Service  ---------------------------- */
.service-area{
    @apply py-25 bg-white;
}
.service-intro{
    @apply flex flex-col gap-3;
}
.service-title{
    @apply text-center flex flex-col gap-4;
}
.single-service-list{
    @apply p-8 flex flex-col gap-2.75 border-1 border-04 rounded-2xl relative;
}
.service-icon {
    @apply absolute top-8 right-8 size-16;
}

/*------------------------ Our Approach  ---------------------------- */
.up-area{
    @apply bg-02 py-25;
}
.up-left-content{
    @apply flex gap-6 justify-center;
}
.up-bg-1{
    @apply w-67 h-108.5 overflow-hidden; 
}
.up-bg-1 img{
    @apply size-full;
}
.up-bg-2{
    @apply w-67 h-97.5 overflow-hidden mt-25; 
}
.up-bg-2 img{
    @apply size-full;
}

.up-divider{
    @apply h-0.25 bg-[#404040] w-full
}

/*-------------------- Help Amazone---------------------- */
.ha-area{
    @apply bg-white py-25;
}

.single-ha-list{
    @apply p-6 flex flex-col gap-2.75 border-1 border-04 rounded-2xl;
}
